// out: ../css/jointly.css, sourcemap: true, compress: false

@import "creative.less";

h2 {
  font-size: 30px;
}


@media (min-width: 768px) {

  header .header-content .header-content-inner {
    font-size: 0.7em;
  }

  header .header-content {
    top: 40%;
  }

}


.bg-light {
  background-color: #DDD;
}



// Jointly Logo

.jtly-logo .logo {
  color: #fff;
  text-indent: -999px;
  width: 400px;
  height: 300px;
  background-image: url('../img/logos/JTLY_Vertical_Light_No_BG.png');
  background-image: url('../img/logos/JTLY_Vertical_Light_No_BG.svg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  margin: auto;
}



.jtly-logo-wide .logo-mark {
  width: 75px;
  height: 25px;
}


.jtly-logo-wide .logo {
  color: #fff;
  text-indent: -999px;
  width: 120px;
  height: 40px;
  background-image: url('../img/logos/JTLY_Hoz_Flat_White_NoBG.png');
  background-image: url('../img/logos/JTLY_Hoz_Flat_White_NoBG.svg');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  margin: 0 10px;
}

.navbar-brand {
  padding: 5px
}

#here-to-help .text-faded {
  color: #184344;
}


// Mail Chimp Form

.mc-field-group {
  width: 30%;
  margin: auto;
}
